@use "sass:string";
@use "sass:color";
@import "Variables";

@function gtkalpha($c, $a) {
    @return string.unquote("alpha(#{$c},#{$a})");
}

window#launcher {
    all: unset;

    box.Applauncher {
        background-color: $background;
        border: 2px solid $primary-color;
        border-radius: $radius-out;
        margin: 8px;
        padding: 16px;

        entry {
            margin-bottom: 16px;
        }

        button {
            min-width: 0;
            min-height: 0;
            padding: 12px;
            border-radius: $radius-in;

            icon {
                font-size: 40px;
                margin-right: 8px;
            }

            label.name {
                font-family: $header-font;
                font-weight: bold;
                font-size: 16px;
            }

            label.description {
                font-family: $text-font;
                color: gtkalpha($foreground, 0.8);
            }

            &:hover {
                background-color: gtkalpha($primary-color, 0.78);
            }

            &:focus {
                background-color: gtkalpha($primary-color, 0.78);
            }
        }

        box.not-found {
            padding: 16px;

            icon {
                font-size: 48px;
                color: gtkalpha($foreground, 0.7);
            }

            label {
                color: gtkalpha($foreground, 0.9);
                font-size: 24px;
            }
        }
    }
}