@use "sass:color";
@import "/home/drum3x/.cache/wal/colors";

.osd-container {
    background-color: color.adjust($background, $alpha: -0.12);
    min-width: 30px;
    min-height: 200px;
    border-radius: 16px;
    padding: 10px;
}

.osd-icon {
    font-size: 25px;
    margin-top: 12px;
    color: $color10;
}

.osd-slider trough {
    border-radius: 8px;
    min-height: 200px;
    min-width: 30px;
}

.osd-slider trough highlight {
    background-color: $color10;
    border-radius: 8px;
}