@use "sass:string";
@import "/home/drum3x/.cache/wal/colors";

@function gtkalpha($c, $a) {
    @return string.unquote("alpha(#{$c},#{$a})");
}

.osd-container {
    background-color: gtkalpha($background, 0.88);
    min-width: 30px;
    min-height: 200px;
    border-radius: 16px;
    padding: 10px;
}

.osd-icon {
    font-size: 25px;
    margin-top: 12px;
    color: gtkalpha($color10, 0.78);
}

.osd-slider trough {
    border-radius: 8px;
    min-height: 200px;
    min-width: 30px;
}

.osd-slider trough highlight {
    background-color: gtkalpha($color10, 0.78);
    border-radius: 8px;
}