@use "sass:string";
@import "Variables";

@function gtkalpha($c, $a) {
    @return string.unquote("alpha(#{$c},#{$a})");
}

.osd-container {
    background-color: $background;
    min-width: 30px;
    min-height: 200px;
    border: 2px solid $primary-color;
    border-radius: $radius-out;
    padding: 10px;
}

.osd-icon {
    font-size: 25px;
    margin-top: 12px;
    color: $primary-color;
}

.osd-slider trough {
    border-radius: 12px;
    min-height: 200px;
    min-width: 30px;
}

.osd-slider trough highlight {
    background-color: $primary-color;
    border-radius: $radius-in;
}